
@import "base/base";
@import "base/typography";
@import "base/animation";
@import "util/variables";
@import "components/button";
@import "util/mixins";
@import "layout/floatgrid";
@import "pages/home";


.header {
    height: 95vh;
    background-image : linear-gradient(to right bottom , rgba(184, 252, 96, 0.6),rgba(17, 117, 75, 0.6)), 
    url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0 , 100% 0 , 100% 75vh, 0 100%);
    position: relative;
   
    &__logo-image {
        position: absolute;
        left: 4rem;
        top : 4rem;
        img {
            height: 3.5rem;
        }
    }
}











