

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body {
    font-family: "Lato" , sans-serif;
    font-weight: 400;
    font-size: 1.6rem; 
    line-height: 1.7;
    color : #777;
    padding: 3rem;
}

.header {
    height: 95vh;
    background-image : linear-gradient(to right bottom , rgba(184, 252, 96, 0.6),rgba(17, 117, 75, 0.6)), 
    url(./img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0 , 100% 0 , 100% 70%, 0 100%);
    position: relative;
}

.logo-image {
    position: absolute;
    left: 4rem;
    top : 4rem;
}

.logo-image img{
    height: 3.5rem;
}
.slogan {
    position: absolute;
    left: 50%;
    top : 40%;
    transform: translate(-50%,-50%);
    backface-visibility: hidden;
    text-align: center;
}
.slogan h1{
    text-transform: uppercase;
    color: white;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem;
    display: block;
    animation: EaseRightIn 1s ease-out;
}

.slogan h2{
    text-transform: uppercase;
    color: rgb(252, 244, 141);
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1.2rem;
    display: block;
    animation: EaseLeftIn 1s ease-out;
}


.btn:link,
.btn:visited {
    border: 2rem;
    text-decoration: none;
    padding: 1rem 5rem;
    display: inline-block;
    border-radius: 3rem;
    margin-top: 2rem;
    animation: MoveUpEase 1s ease-out 1s;
    animation-fill-mode: backwards;
    transition: all 0.5s;
    position: relative;
}
.btn:hover{
    transform: translateY(-10px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}
.btn:active{
    transform: translateY(-6px);
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.4);
}

.btn-white{
    background-color: white;
    color:black;
}

.btn::after{
    content: "";
    display: inline-block;
    transform: scale(1);
    opacity: 1;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.6s ease-out;
}

.btn:hover::after{
    background-color: green; 
    transform: scale(1.5);
    opacity: 0;

}
@keyframes EaseRightIn{
    0%{
        opacity: 0;
        transform: translate(-10rem);
    }

    70%{
        transform: translate(3rem);
    }

    100%{
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes EaseLeftIn{
    0%{
        opacity: 0;
        transform: translate(10rem);
    }

    70%{
        transform: translate(-3rem);
    }

    100%{
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes MoveUpEase{
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

