.btn {
    backface-visibility: hidden;
    &:link , &:visited{
        border: 2rem;
        text-decoration: none;
        padding: 1rem 5rem;
        display: inline-block;
        border-radius: 3rem;
        margin-top: 2rem;
        animation: MoveUpEase 1s ease-out 1s;
        animation-fill-mode: backwards;
        transition: all 0.5s;
        position: relative;
    }
    &:hover{
        transform: translateY(-10px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);

        &::after{
            background-color: green; 
            transform: scale(1.5);
            opacity: 0;
        
        }
    }
    &:active{
        transform: translateY(-6px);
        box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.4);
    }
    &--white{
        background-color: white;
        color:black;
    }

    &::after{
        content: "";
        display: inline-block;
        transform: scale(1);
        opacity: 1;
        background-color: rgb(255, 255, 255);
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.6s ease-out;
    }
}
